.btn:not([class*="outline"]) {
  color: #fff;

  &:hover {
    background-color: transparent;

    &.btn-primary {
      color: $primary;
    }

    &.btn-secondary {
      color: $secondary;
    }
  }
}