.btn:not([class*="outline"]) {
  color: #fff;

  &:hover {
    background-color: transparent;

    &.btn-primary {
      color: $primary;
    }


    &.btn-secondary {
      color: $secondary;
    }
  }

.button-secondary:hover {
  background-color: $secondary;
  color: white;
  transition: 0.4s;
}
}