#home_process {
  text-align: center;
  background-color: #fcfcfc;

  .reverse {
    transform: rotate(-180deg);
    padding-top: 5rem;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    display: block;
    position: relative;
    padding-bottom: 5px;
  }

  h3:after {
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: 0;
    left: 45%;
    border-bottom: 2px solid $primary;
  }

  .icons-process {
    column-gap: 75px;
    padding: 3rem;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    .step-1, .step-2, .step-3 {
      max-width: 358px;
      height: auto;
      border-radius: $border-radius;
      padding: 3rem;

      .step {
        font-weight: bold;
      }

      .icons-step {
        max-width: 150px;
        height: auto;
        margin: 1rem auto;

        svg {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}