#home_process {

  .icons-process {
    column-gap: 75px;
    padding: 3rem;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    .step-1, .step-2, .step-3 {
      max-width: 358px;
      height: auto;
      border-radius: $border-radius;
      padding: 3rem;

      .step {
        font-weight: bold;
      }

      .icons-step {
        max-width: 150px;
        height: auto;
        margin: 1rem auto;

        svg {
          width: 100%;
          height: auto;
        }
      }
    }
  }
} 