// CURSOR
body {
  position: relative;
}

#cursor {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900000;
  border-radius: 50em;
  border: 1px solid white;
  box-shadow: 0 0 1px 1px white;
}