.home_card, .home_card2 {
  padding: 45px;
  border-radius: $border-radius;
  margin: auto;
  background-color: #fff;
  height: 100%;
  text-align: center;
  color: $primary;
  max-width: 300px;
  mix-blend-mode: soft-light;
  box-shadow: $shadow;

  &:hover {
    background-color: red;
  }

  /* &.home_card2 {
    background-color: $primary;
    color: #fff;
  } */

  & > * {
    display: block;
  }

  data {
    font-size: 35px;
    color: #000;
  }
}



