.home_card {
  padding: 45px;
  border-radius: $border-radius;
  margin: auto;
  background-color: #fff;
  height: 100%;
  text-align: center;
  color: $primary;
  max-width: 300px;
  mix-blend-mode: soft-light;
  box-shadow: $shadow;

  & > * {
    display: block;
  }

  data {
    font-size: 35px;
    color: #000;
  }
}


