.home_card {
  padding: 45px;
  border-radius: $border-radius;
  margin: auto;
  background-color: #efefef;
  height: 100%;
  text-align: center;
  color: $primary;
  max-width: 300px;

  box-shadow: $shadow;
  z-index: 999;

  &:hover {
    background-color: #fff;
  }

  & > * {
    display: block;
  }

  data {
    font-size: 35px;
    color: #000;
  }

  .card {
    padding: 45px;
    border-radius: 15px;
  }

  .number {
    color: #fff;
    font-size: 35px;
  }

  .card span {
    color: #fff;
  }
}
