#contact, #shop, #bill, #mentions, #process {

  img {

    display: block;

    &.leave-top-left {
      top: calc(-365px + 60px);
      left: 0;
      transform: rotate(90deg);
      transform-origin: 0 100%;
      position: absolute;
    }

    &.leave-top-right {
      top: 0;
      right: 0;
      position: absolute;
    }
  }
}


