#contact{
  .container{
    max-width: 800px;
    height: auto;
    padding: 75px 75px 75px 75px;
  }

  img {
    position: absolute;
    width: 150px;
    height: 250px;
    display: block;
    left: 90%;
  }

  .contact-img2 {
    position: absolute;
    width: 150px;
    height: 250px;
    display: block;
    right: 100%;
    top: 100%;
  }
  

  input,textarea{
    background-color: $secondary;
    color: #fff;
    font-size: 90%;
    border-radius: 0;
    border: none;
    padding: 18px;
  }
  .button-wrapper {
    text-align: center;
    margin-top: 50px;
  }
  .brand-logo{
    max-width: 150px;
    margin: auto;
  }
  .lottie{
    display: block;
    width: 100%;
    height: auto;
  }
  h1{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    display: block;
    max-width: 500px;
    color: $secondary;
    margin: auto auto 4.5rem;
    padding-bottom: 50px;
  }
  .line{
    border-bottom: 2px solid $primary;
    width: 100px;
    position: relative;
    margin: auto;
    padding-top: 5px;
  }
  .succes_answer{
    color: $primary;
    margin-top: 25px;
  }
}




