#home-hero {
  padding: 35px 0 150px 0;
  min-height: calc(100vh - 70px); // 70px -- hauteur HEADER
  position: relative;
  overflow: hidden;
  background-image: url('https://images.pexels.com/photos/1367192/pexels-photo-1367192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  // ANIMATION
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  &:before {
    top: 0;
    left: 0;
    background-image: url('https://github.com/joshuaward/codepen-images/blob/master/clouds-left.png?raw=true');
    background-position: center 100%;
    animation: clouds1 110s linear infinite;
  }

  &:after {
    bottom: 0;
    left: 0;
    background-image: url('https://github.com/joshuaward/codepen-images/blob/master/clouds-right.png?raw=true');
    background-position: center 0%;
    animation: clouds2 100s linear infinite;
  }

  @keyframes clouds1 {
    to {
      background-position: 200%;
    }
  }

  @keyframes clouds2 {
    to {
      background-position: -200%;
    }
  }


  @keyframes float {
    0% {
      transform: translatey(0px);
    }

    50% {
      transform: translatey(-20px);
    }

    100% {
      transform: translatey(0px);
    }
  }

  .brand-logo {
    max-width: 150px;
    margin: 0 auto 0 auto;
    animation: float 6s ease-in-out infinite;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    display: block;
    color: $primary;
    margin: auto auto 1rem;
    font-family: 'Hanalei', cursive;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
    display: block;
    max-width: 500px;
    color: #fff;
    padding-bottom: 1rem;
    margin: auto auto 3.5rem;

    span {
      font-weight: 700;
    }
  }
}

// HOME ABOUT

#home_about {
  padding: 75px 0;
  text-align: center;
  background-color: #fcfcfc;

  .button-wrapper {
    text-align: center;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 25px;
  }

  .line {
    border-bottom: 2px solid $primary;
    width: 100px;
    position: relative;
    margin: auto;
    padding-top: 5px;
  }
}

//HOME PROCESS

#home_process {
  .reverse{
    transform: rotate(-180deg);
    padding-top: 5rem;
  }

  img {
    width: 500px;
    height: auto;
    border-radius: $border-radius;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 25px;
  }
}

#conference{
  .test{
    background: #d7d7d7;
    background:$secondary;
  }
  .container{

  }

  .content{
    padding: 5rem;
    color: #fff;

    span{
      color: $primary;
      font-size: 18px;
    }

    h3{
      font-size: 36px;
      font-weight: bold;
    }

    p{
      margin-top: 35px;
      font-size: 20px;
    }

    button{
      border-radius: 3px;
    }

    .card-conf{
      border: 3px solid red;
      background: #fff;
      border-radius: 3px;
      color: $secondary;
      height: 150px;
    }
  }
}













