#home-hero {
  padding: 35px 0 150px 0;
  min-height: calc(100vh - 70px); // 70px -- hauteur HEADER
  position: relative;
  overflow: hidden;
  background-image: url('https://images.pexels.com/photos/1367192/pexels-photo-1367192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  .home_cards {
    z-index: 3;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    display: block;
    color: $primary;
    margin: auto auto 1rem;
    font-family: 'Poppins', cursive;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
    display: block;
    max-width: 500px;
    color: #fff;
    padding-bottom: 1rem;
    margin: auto auto 3.5rem;

    span {
      font-weight: 700;
    }
  }
}

// HOME ABOUT

#home_about {
  padding: 75px 0;
  text-align: center;
  background-color: #fcfcfc;

  .button-wrapper {
    text-align: center;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 25px;
  }

  .line {
    border-bottom: 2px solid $primary;
    width: 100px;
    position: relative;
    margin: auto;
    padding-top: 5px;
  }
}

//HOME PROCESS

#home_process {
  .reverse{
    transform: rotate(-180deg);
    padding-top: 5rem;
  }

  img {
    width: 500px;
    height: auto;
    border-radius: $border-radius;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 25px;
  }
}

#conference {
  //GAUCHE

  .test{
    background: #d7d7d7;
    background:$secondary;
  }
  .container{

  }

  .content{
    padding: 5rem;
    color: #fff;

    span{
      color: $primary;
      font-size: 18px;
    }

    h3{
      font-size: 36px;
      font-weight: bold;
    }

    p{
      margin-top: 35px;
      font-size: 20px;
    }

    button{
      border-radius: 3px;

      &:hover{
        color: #fff;
      }
    }

    //DROITE

    .card_wrapper{
      padding: 15px 25px;
      background: #fff;
      border-radius: 10px;
    }
    .card_container{
      border: 3px solid blue;
    }
    .card_content{
      border: 3px solid red;

      h3{
        color: $secondary;
      }
    }
    ul {
      color: $secondary;
      text-underline: none;
      list-style: none
    }

    li::before{
      color: $primary;
      content: '•';
      padding-right: 10px;
    }

    a{
      text-decoration: none;
    }

    .lottie_content{
    }

    i{
      width: 100%;
      height: 100%;
      margin: auto;
      max-width: 80px;
      display: block;
    }
  }
}













