#main {
  background-color: #fcfcfc;
}

#home-hero {
  padding: 150px 0 150px 0;
  min-height: calc(100vh - 70px); // 70px -- hauteur HEADER
  position: relative;
  overflow: hidden;
  background-image: url('https://images.pexels.com/photos/1367192/pexels-photo-1367192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  .container {

    p {
      color: #fff;
      text-align: center;
      margin-top: 30px;
    }

    .social-links {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;

      li {
        margin: 10px;
        list-style: none;
        width: 30px;
        height: auto;

        a {
          color: #fff;
          transition: all .2s ease;
          cursor: pointer;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .home_cards {
    z-index: 3;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    display: block;
    color: $primary;
    margin: auto auto 1rem;
    font-family: 'Poppins', cursive;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
    display: block;
    max-width: 500px;
    color: #fff;
    margin: auto auto 1rem;

    span {
      font-weight: 700;
    }
  }
}

// HOME ABOUT

#home_about {
  padding: 75px 0;
  text-align: center;
  background-color: #fcfcfc;

  .button-wrapper {
    text-align: center;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    display: block;
    position: relative;
    padding-bottom: 5px;
  }

  h3:after {

    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: 0;
    left: 45%;
    border-bottom: 2px solid $primary;
  }

  p {
    margin-bottom: 25px;
    text-align: center;
  }

}

//HOME PROCESS

#home_process {
  text-align: center;
  background-color: #fcfcfc;

  .reverse {
    transform: rotate(-180deg);
    padding-top: 5rem;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    display: block;
    position: relative;
    padding-bottom: 5px;
  }

  h3:after {
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: 0;
    left: 45%;
    border-bottom: 2px solid $primary;
  }

  .icons-process {
    margin: auto;
    column-gap: 75px;
    padding: 5rem;
    border: 3px solid blue;

    .step-1, .step-2, .step-3 {
      max-width: 300px;
      height: auto;
      border-radius: $border-radius;
      padding: 3rem;

      .step {
        font-weight: bold;
      }

      .icons-step {
        max-width: 150px;
        height: auto;
        margin: 1rem auto;

        svg {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
