#meet-up {
  background-color: #fcfcfc;

  h2 {
    text-align: center;
    margin-top: 5rem;
    color: #000;
    font-weight: 800;
    opacity: 60%;
  }

  h4 {
    text-align: center;
    margin-bottom: 1rem;
    color: $primary;
    font-weight: 700;
  }

  p {
    margin: auto;
    max-width: 400px;
    text-align: center;
    color: #000;
  }

  .img-conf4 {
    position: absolute;
  }

  .sky {
    margin-bottom: 15rem;
    border: 5px solid $primary ;
  }
}