#shop {
background-color: #fcfcfc;

  .container {
    padding: 5rem;

    td {
      border: 1px solid #000;
      padding: 10px;

      input {
        border: 1px solid $primary;
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
      }
    }
  }

  .button-wrapper {
    text-align: center;
  }
}







