#globe {
background-color: #fcfcfc;

  h1 {
    font-size: 3rem;
    text-align: center;
    display: block;
    color: $primary;
    margin: auto auto 1.5rem;
  }

  .container-fluid {
    display: flex;
    justify-content: center;
    max-height: 100vmin;
    max-width: 100vmin;
    margin: auto auto;
  }

  .globe {
    height: 100vmin;
    width: auto;
    cursor: grab;
  }

  .globe--dragging {
    cursor: grabbing;
  }
}