#hero-banner {

  .title-description {
    background: url("http://4.bp.blogspot.com/-cE6OFqCtW50/T1lQJfsJURI/AAAAAAAAAAM/kyjwSC1bWYA/s1600/Africa-travel-computer-wallpaper-background-baobab-tree-HiLoqui.jpg");
    background-size: cover;
    min-height: calc(100vh - 70px); // 70px -- hauteur HEADER
    height: 100%;
  }

}