#main-contact {
  background-color: #fcfcfc;

  h1 {
    font-size: 3rem;
    text-align: center;
    display: block;
    color: $primary;
    margin: auto auto 1.5rem;
  }

  p {
    max-width: 400px;
  }

  .container-fluid {
    display: flex;
    justify-content: center;
    max-height: 100vmin;
    max-width: 100vmin;
    margin: auto auto;
  }
}

.flex-wrapper {
  display: flex;

  p {
    align-items: center;
    margin: auto ;
  }
}


