.tree {
  position: relative;
  display: block;
  border-radius: $border-radius;
  color: inherit;
  text-decoration: none;
  padding: 6rem;
  overflow: hidden;

  img {
    z-index: -1;
    display: block;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover img {
    filter: saturate(0);
    transition: 0.3s;
  }

  .tree-body {
    padding: 2rem;

    .tree-title {
      font-size: 3rem;
      color: #fff;
    }
  }
}

// New Cards


