body {
  background-color: #fcfcfc;

  #our_trees {
    padding: 45px;

    .button-wrapper{
      text-align: center;
      margin-top: 50px;
    }

    .cards_wrapper {
      display: flex;
      justify-content: space-between;

      .card-tree {
        padding: 0;
        border-radius: $border-radius;
        box-shadow: $shadow-hover;
        overflow: hidden;
        width: 300px;

        &:hover {
          box-shadow: 0 4px 30px 0 rgb(50 39 73 / 30%);;
          transition: 0.3s;
        }

        .content {

          .img-card {
            width: auto;
            height: 375px;
            overflow: hidden;

            img {
              width: 100%;
              height: auto;
              box-shadow: $shadow;


            }

            .tree-body {
              overflow: hidden;
              padding: 5px 0 5px 0;
              text-underline: none;
              border: 3px solid red;

              .price{
                margin-left: 1rem;
              }

              .tree-title {

                h2 {
                  color: #000;
                  font-weight: bold;
                }
              }

              .country {
                span {
                  color: #000;
                }
              }

              label {
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}
