#our_trees {
  background-color: #fcfcfc;
  border: 3px solid red;

  .cards_wrapper {
    border: 3px solid blue;

    .card-tree {
      border: 3px solid green;
      padding: 0;
      border-radius: $border-radius;
      overflow: hidden;
      width: 300px;

      .content {
        img {
          max-width: 100%;
          height: auto;
          box-shadow: $shadow;
        }

        .tree-body {
          border: 3px solid yellow;
          overflow: hidden;
          padding: 5px 0 5px 0;
          text-underline: none;

          h2 {
            color: #000;
            font-weight: bold;
          }

          span {
            color: #000;
          }

          label{
            color: #000;
          }
        }
      }
    }
  }
}
