#footer {

  svg {
    position: relative;
    display: block;
    width: 100% !important;
  }

  .social-network {
    display: flex;
    align-items: center;
  }

  .list-unstyled li a {
    text-decoration: none;
    text-align: center;
  }

  footer p {
    font-size: 15px;
    max-width: 450px;
  }
}

