.social-network img {
  margin-right: 1.5rem;
}

.social-network {
  display: flex;
  align-items: center;
  align-items: center;
}

.list-unstyled li a {
  text-decoration: none;
  text-align: center;
}

