#header{
  box-shadow: $shadow;
  z-index: 100;
  position: relative;

  a {
    color: #000;
  }

  .dropdown-menu a:hover {
    background-color: $primary;
  }

  .navbar-brand img:hover {
    opacity: 70%;
    transition: 0.1s;
  }

  span {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-weight: bold;
    text-transform: uppercase;
  }

  .active {
    color: $primary;
  }

  .icon_shop{
    fill: $primary;
    }
}








