//COLORS
$primary: #3bc36e;
$secondary: #333333;

//FONTS
$font-family-base: Popins;

// BUTTONS
$btn-border-radius: 50em;
<<<<<<< Updated upstream
$btn-padding-x: 2rem;
qdfe
=======
$btn-padding-x: 2rem;
>>>>>>> Stashed changes
