$body-bg: #fcfcfc;
$card-bg: #969696;
$border-radius: 15px;
$shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3) ;

//COLORS
$primary: #3bc36e;
$secondary: #333333;
$card: #919191;
$color-1: #002127;
$color-2: #3498db;
$color-3: #2ecc71;

//FONTS
$font-family-base: 'Poppins', sans-serif;

// BUTTONS
$btn-border-radius: 50em;
$btn-padding-x: 2rem;
$btn-padding-x: 2rem;
$base-duration: 500ms;
$headerHeight: 70px;
$btn-border-width: 2px;
$headerHeight: 70px;