$body-bg: #fcfcfc;
$card-bg: #969696;
$border-radius: 15px;
$shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3) ;

//COLORS
$primary: #3BC36E;
$secondary: #333333;
$card: #919191;
$color-1: #002127;
$color-2: #3498db;
$color-3: #2ecc71;

//FONTS
$font-family-base: 'Poppins', sans-serif;

// BUTTONS
$btn-border-radius: 50em;
$btn-padding-x: 2rem;
$btn-padding-x: 2rem;
$base-duration: 500ms;
$headerHeight: 70px;
$btn-border-width: 2px;
$headerHeight: 70px;


// Nos biomes

$slidingAT: 1s;
$slidingDelay: $slidingAT / 3 * 2;
$maskAT: $slidingAT*0.7;
$headingAT: $slidingAT * 1.5;
$controlAT: $slidingAT/2;
$easing: ease-in-out;
$blendMode: luminosity;
$contentLeft: 40%;
$contentTop: 40%;
$headingPadding: 30px;
$headingFontSize: 100px;
$maskTop: 15%;
$maskRight: 100% - $contentLeft;
$maskHeight: 67vh;
$maskWidth: $maskHeight * 0.75;
$black: $primary;

$bgColors: (
        dark: lighten(#242424, 20%),
        green: #42605E,
        red: goldenrod,
        blue: #2D7791
);

// baobab

$white: #fff;
$black: #333;
$lightergray: #d5d5d5;
$lightgray: #f0f3f1;
$gray: #e3dddd;
$text: #888;
$button: #3e3e3f;
$button-hover: #565657;

// conf

$color_white: #fff;
$color_prime: #3BC36E;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;